
.cajagatos{
    background-color: dodgerblue;
    width: 100%;
    height: 25%;
    position: fixed;
   
}

.gatos {
    text-align: center;
}

.redes{
    background-color: dodgerblue;
    width: 100%;
    height: 25%;
    position: bottom;
    margin-top: 300px;
    padding-bottom: fixed;
   
}
#gato1{
    width: 400px;
    height: 600px;
}
#gato2{
    width: 400px;
    height: 600px;
}
#gato3{
    width: 400px;
    height: 600px;
}