
body {  
    color: rgb(0, 0, 0);
    text-align: center;
}
.cajatitulo{
    background-color: darkorchid;
    width: 100%;
    height: 25%;
    position: fixed;
    
}
   

img {
    float: inline-start;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
}
caption{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
}
nav{
    text-align: center;
}