
body {  
    color: rgb(0, 0, 0);
    text-align: center;
}
#perro {
    margin-top: -420px;
    width: 290px;
    height: 290px;
    
}
#recuadro {
    width: 400px;
    height: 400px;
}
.cajatitulo{
    background-color: darkorchid;
    width: 100%;
    height: 25%;
    position: fixed;
   
}

.redes{
    background-color: darkorchid;
    width: 100%;
    height: 25%;
    position: bottom;
    margin-top: 220px;  

