@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
    #btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: dodgerblue;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
#logo {
    width: 200px;
    height: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    background-color: dodgerblue;
    width: 100%;
    height: 25%;
    position: fixed;
   
}
.d-block{
   width: 100%;
   height: 90%;
}
.redes{
    background-color: dodgerblue;
    width: 100%;
    height: 30%;
    position: bottom;
    margin-top: 220px;  
}
.subtitulo {
    text-align: center;
}
.imgnos {
    width: 1920px;
    height: 1080px;
    margin-top: 600px;
}
.menu {
    background-color:rgb(102, 150, 240);
    width: 100%;
    height: 20%;
    position: fixed;
   
}
@media (max-width:800px){
   img{
      width: 50px;
   }
}
#tmenu{
    margin-top: 40px;
}

#op1 {
   text-decoration: none;
   margin-top: 60px;

}
#op2 {
   text-decoration: none;
   margin-top: 60px;
}

#op3 {
   text-decoration: none;
   margin-top: 60px;
}
#op4 {
   text-decoration: none;
   margin-top: 60px;
}

#lg {
   width: 220px;
   height: 210px;
}
#lg1{
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg2{
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg3 {
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg4 {
   width: 200px;
   height:200px;
   margin-top: -50px;
}