body{
    background-image: url("back perros.jpg");
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.cajaperros{
    background-color: dodgerblue;
    width: 100%;
    height: 25%;
    position: fixed;

}

.perros {
    text-align: center;
}
.subtitulo {
    text-align: center;
}
.redes{
    background-color: dodgerblue;
    width: 100%;
    height: 30%;
    position: bottom;
    margin-top: 340px;  
    padding: fixed;
}
.titulos {
    margin-left: -500;
}
#lulu {
    margin-top: 0px;
    margin-left: 300px;
    width: 300px;
    height: 320p
}
#txg1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    background-color:rgb(102, 150, 240);
    width: 100%;
    height: 20%;
    position: fixed;
    
}
@media (max-width:800px){
   .menu{
      width: 160px;
      height: 100px;
      margin-left: 400px;
   }
   #perro{
      width: 200px;
      height: 100px;
   }
}
#tmenu{
    margin-top: 40px;
}

#op1 {
   text-decoration: none;
   margin-top: 60px;

}
#op2 {
   text-decoration: none;
   margin-top: 60px;
}

#op3 {
   text-decoration: none;
   margin-top: 60px;
}
#op4 {
   text-decoration: none;
   margin-top: 60px;
}

#lg {
   width: 220px;
   height: 210px;
}
#lg1{
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg2{
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg3 {
   width: 200px;
   height:200px;
   margin-top: -50px;
}
#lg4 {
   width: 200px;
   height:200px;
   margin-top: -50px;
}

@media (max-width:800px){
   .menu{
      width: 160px;
      height: 100px;
      margin-left: 400px;
      
   }
   #perro{
      width: 200px;
      height: 100px;
   }
}