body{
    background-image: url("back perros.jpg");
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.cajaperros{
    background-color: dodgerblue;
    width: 100%;
    height: 25%;
    position: fixed;

}

.perros {
    text-align: center;
}
.subtitulo {
    text-align: center;
}
.redes{
    background-color: dodgerblue;
    width: 100%;
    height: 30%;
    position: bottom;
    margin-top: 340px;  
    padding: fixed;
}
.titulos {
    margin-left: -500;
}
#lulu {
    margin-top: 0px;
    margin-left: 300px;
    width: 300px;
    height: 320px;
}